<div class="example-container mat-elevation-z8">

  <md-table #table [dataSource]="dataSource" mdSort>

    <ng-container mdColumnDef="albumId">
      <md-header-cell *mdHeaderCellDef md-sort-header>Album ID</md-header-cell>
      <md-cell *mdCellDef="let row">{{ row.albumId }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef md-sort-header>ID</md-header-cell>
      <md-cell *mdCellDef="let row">{{ row.id }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="title">
      <md-header-cell *mdHeaderCellDef md-sort-header>Title</md-header-cell>
      <md-cell *mdCellDef="let row">{{ row.title }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="url">
      <md-header-cell *mdHeaderCellDef md-sort-header>URL</md-header-cell>
      <md-cell *mdCellDef="let row">{{ row.url }}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="thumbnailUrl">
      <md-header-cell *mdHeaderCellDef md-sort-header>Thumbnail</md-header-cell>
      <md-cell *mdCellDef="let row">{{ row.thumbnailUrl }}</md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <md-paginator #paginator
                [length]="500"
                [pageIndex]="0"
                [pageSize]="25"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </md-paginator>
</div>
